<% layout('main') -%>

<link rel="stylesheet" href="/css/post.css">
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/postLike.js"></script>
<script src="/js/postComment.js"></script>
  <script>
  tinymce.init({
    selector:'textarea',
    plugins:'link code',
    menubar:false,
    branding: false
  });
  </script>

<% if(message.length > 0){ %>
    <div class="alert alert-success alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= message %>
    </div>
  <% } %>

<div class="container">

<% if(user) { %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="create_post">
        <div class="post_text">
          <img src="<%= user.profile.picture %>" class="img-circle img-responsive img-center img-thumbnail" alt="<%= user.profile.name %>">
          <span class="open" id="myBtn">Share an post, article or photo</span>
        </div>
        <hr style="margin:0px">
        <div class="post_image">
          <button  class="btn btnsm btnP pull-right">Post</button>
        </div>
      </div>
    </div>
  </div>
  <% } %>

  <div class="row">
    <% for(var i = 0; i < posts.length; i++){ %>
      <div class="col-md-6 col-md-offset-3">
        <div class="post-container thumbnail">
        <div class="top">
          <div class="top-left">
            <img class="img-circle" src="<%= posts[i].author.profile.picture %>" alt="" style="width:40px">
          </div>
          <div class="top-mid">
            <a href="#"><%= posts[i].author.profile.name %></a><br>
            <small><%= date.format(posts[i].createdAt, 'DD MMM YYYY, hh:mm A') %></small>
          </div>

          <% if(JSON.stringify(user) === JSON.stringify(posts[i].author)) { %>
          <div class="pull-right dropdown edcmnt">
            <i class="fa fa-ellipsis-h dropdown-toggle" data-toggle="dropdown" style="cursor:pointer"></i>
            <ul class="dropdown-menu pull-left">
              <li>
                <a onclick="document.getElementById('<%= posts[i]._id %>').style.display='block'">
                  <i class="fa fa-edit"></i> Edit
                </a>
              </li>
              <li>
                <a onclick="
                   if(confirm('Are you sure, You Want to delete this?')){
                     event.preventDefault();
                     document.getElementById('d<%= posts[i]._id %>').submit();
                   } else {
                     event.preventDefault();
                   }"> <i class="fa fa-trash"></i> Delete
                </a>
            </li>
            </ul>
          </div>
          <% } %>
          <br clear="all">

            <form action="/posts/delete/<%= posts[i]._id %>" method="post" id="d<%= posts[i]._id %>">
            </form>

            <div id="<%= posts[i]._id %>" class="editPostModal">
              <div class="modal-content animate">
                <div class="media" style="background-color:#f1f1f1">
                  <div class="media-left">
                    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar img-thumbnail">
                    <a href="#"><%= posts[i].author.profile.name %></a> |
                    <small>Last updated: <%= date.format(posts[i].updatedAt, 'DD MMM YYYY, hh:mm A') %></small>
                  </div>
                  <div class="media-right">
                    <span onclick="document.getElementById('<%= posts[i]._id %>').style.display='none'" class="closeContainer" title="Close Modal">&times;</span>
                  </div>
                </div>
               <form action="/posts/edit/<%= posts[i]._id %>" method="post" enctype="multipart/form-data">
                 <div class="postContainer">
                   <textarea name="body" style="height:50px"><%- posts[i].body %></textarea>
                 </div>

                 <div class="postContainer" style="background-color:#f1f1f1">
                   <input type="file" name="image">
                   <!-- <input type="file" name="image" id="selectedFile3" style="display:none">
                   <i class="fa fa-picture-o" onclick="document.getElementById('selectedFile3').click();" style="color:#0077b3;cursor:pointer;" title="Image"></i> -->
                   <button type="submit" class="btn newBtn-sm pull-right">Save</button>
                 </div>
               </form>
              </div>
            </div>

        </div>

        <div class="post-body">
          <p><%- posts[i].body %></p>
        </div>

        <% if(posts[i].image) { %>
        <img class="img-responsive" src="uploads/<%= posts[i].image %>">
        <% } %>

        <div class="like-count">
          <p>
            <span id="likecnt<%= posts[i]._id %>"><%= posts[i].likes.length %> Likes</span> .
            <span id="commentcnt<%= posts[i]._id %>"><%= posts[i].comments.length %> Comments</span>
          </p>
        </div>

        <hr style="margin:5px 0">

        <div class="bottom">

          <button class="btn btn-default btn-xs" id="likebtn" value="<%= posts[i]._id %>">
            <% var temp = 0;
            for(var j = 0; j < posts[i].likes.length; j++) {
              if(JSON.stringify(posts[i].likes[j]._id) === JSON.stringify(user._id)) {
                var temp = 1;
                break;
              }  }

              if(temp == 1){ %>
                <span id="likespn<%= posts[i]._id %>" style="color:#337ab7"><i class="fa fa-thumbs-o-up fa-fw"></i> Like</span>
              <% } else { %>
                <span id="likespn<%= posts[i]._id %>"><i class="fa fa-thumbs-o-up fa-fw"></i> Like</span>
              <% } %>
          </button>

          <button onclick="$('#pcb<%= posts[i]._id %>').toggle()" class="btn btn-default btn-xs"><i class="fa fa-comment-o"></i> Comment</button>

          <br clear="all">
        </div>


        <div id="pcb<%= posts[i]._id %>" class="post-comment-box">
          <div class="input-group">
            <input id="comment<%= posts[i]._id %>" type="text" name="comment" class="form-control" placeholder="Add a comment">
            <div class="input-group-btn">
              <button id="postComment" class="btn btn-default" value="<%= posts[i]._id %>">
                <i class="fa fa-arrow-right"></i>
              </button>
            </div>
          </div>

          <% if(posts[i].comments.length > 0) {
            var mool = 0;
           %>
          <ul id="allcomment<%= posts[i]._id %>">
            <% for(var k = posts[i].comments.length-1; k >= 0; k--) { %>
              <li>
                <div class="row">

                  <div class="col-md-1" style="display:inline-block">
                    <img src="<%= posts[i].comments[k].commentby.profile.picture%>" class="img-circle" style="width:25px;">
                  </div>

                  <div class="col-md-10" style="display:inline-block">
                    <b><%=  posts[i].comments[k].commentby.profile.name %></b> <%= posts[i].comments[k].comment %>
                    <br>
                    <a href="#" onclick="$('#prb<%= k %><%= posts[i]._id %>').toggle()" style="border-bottom: 2px solid #ededed;color:#16af59;text-decoration:none">Reply</a>

                    <div id="prb<%= k %><%= posts[i]._id %>" class="post-reply-box">
                      <div class="input-group">
                        <input id="postId" type="hidden" name="postId" value="<%= posts[i]._id %>">
                        <input id="reply" type="text" name="reply" class="form-control" placeholder="Add a reply">
                        <div class="input-group-btn">
                          <button id="postReply" class="btn btn-default"><i class="fa fa-arrow-right"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <% if(JSON.stringify(user) === JSON.stringify(posts[i].comments[k].commentby)) { %>
                  <div class="pull-right dropdown edcmnt col-md-1">
                    <i class="fa fa-ellipsis-h dropdown-toggle" data-toggle="dropdown" style="cursor:pointer"></i>
                    <ul class="dropdown-menu pull-left">
                      <li>
                        <a onclick="document.getElementById('<%= posts[i].comments[k]._id %>').style.display='block'"><i class="fa fa-edit"></i> Edit</a>
                      </li>
                      <li>
                        <form action="/comments/delete/<%= posts[i]._id %>" method="post" id="dc<%= posts[i]._id %>">
                          <input type="hidden" name="commentId" value="<%= posts[i].comments[k]._id %>">
                        </form>
                        <a onclick="
                           if(confirm('Are you sure, You Want to delete this?')){
                             event.preventDefault();
                             document.getElementById('dc<%= posts[i]._id %>').submit();
                           } else {
                             event.preventDefault();
                           }"> <i class="fa fa-trash"></i> Delete
                        </a>
                    </li>
                    </ul>

                    <div id="<%= posts[i].comments[k]._id %>" class="editPostModal">
                      <div class="modal-content1 animate">
                        <div class="modal-content1-header">
                          <b>Edit comment</b> <i class="fa fa-times pull-right" onclick="document.getElementById('<%= posts[i].comments[k]._id %>').style.display='none'"></i>
                        </div>
                        <form action="/comments/edit/<%= posts[i]._id %>" method="post">
                        <input type="text" name="comment" value="<%= posts[i].comments[k].comment %>" class="form-control">
                        <input type="hidden" name="commentId" value="<%= posts[i].comments[k]._id %>">
                         <div style="padding:5px;text-align:right">
                          <span class="btn btn-default btn-xs" onclick="document.getElementById('<%= posts[i].comments[k]._id %>').style.display='none'">Cancel</span>
                          <button type="submit" class="btn btn-primary btn-xs">Save</button>
                        </div>
                       </form>
                      </div>
                    </div>

                  </div>
                  <% } else if(JSON.stringify(user) === JSON.stringify(posts[i].author)) { %>
                    <div class="pull-right dropdown edcmnt col-md-1">
                      <i class="fa fa-ellipsis-h dropdown-toggle" data-toggle="dropdown" style="cursor:pointer"></i>
                      <ul class="dropdown-menu pull-left">
                        <li>
                          <form action="/comments/delete/<%= posts[i]._id %>" method="post" id="dc<%= posts[i]._id %>">
                            <input type="hidden" name="commentId" value="<%= posts[i].comments[k]._id %>">
                          </form>
                          <a onclick="
                             if(confirm('Are you sure, You Want to delete this?')){
                               event.preventDefault();
                               document.getElementById('dc<%= posts[i]._id %>').submit();
                             } else {
                               event.preventDefault();
                             }"> <i class="fa fa-trash"></i> Delete
                          </a>
                      </li>
                      </ul>
                    </div>
                  <% } %>

                </div>

              </li>
            <%
             mool++;
             if(mool > 6) break;
            } %>
          </ul>
          <% } %>
        </div>



      </div>
      </div>
  <% } %>
  </div>

</div>



<!-- Popup Modals  -->
<!--  Post Modal -->
<% if(user) { %>
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
      <img src="<%= user.profile.picture %>" class="img-circle img-responsive img-center img-thumbnail" alt="<%= user.profile.name %>" style="width:40px">
      <span style="font-weight:bold;padding-left:5px"><%= user.profile.name %></span>
      <form action="/posts" method="post" enctype="multipart/form-data">
        <textarea name="body" class="form-control" style="height:50px"></textarea>
        <input id="ytlink" type="text" name="video" class="form-control" style="display:none" placeholder="Insert youtube video url">
        <div class="m-t-10">
          <input type="file" name="image" style="display:inline-block">
          <!-- <input type="file" name="image" id="selectedFile3" style="display:none">
          <i class="fa fa-picture-o" onclick="document.getElementById('selectedFile3').click();" style="color:silver;cursor:pointer;" ></i> -->
          <i id="ytvdo" class="fa fa-video-camera btn btn-default btn-sm"style="display:inline-block"></i>
          <button type="submit" class="btn btnsm btnP pull-right" style="display:inline-block">Post</button>
        </div>
      </form>
  </div>
</div>
<% } %>
<!-- end of Post Modal -->
<!-- end of popup modals -->


<!-- scripts for Post Modal -->
<script>
var modal = document.getElementById('myModal');
var btn = document.getElementById("myBtn");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "block";
}

span.onclick = function() {
    modal.style.display = "none";
}

window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

<script type="text/javascript">
$(document).ready(function(){
    $("#ytvdo").click(function(){
        $("#ytlink").toggle(500);
        $("#ytlink").focus();
    });
});
</script>
